@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  color: white;
  padding: 20px;
  background: rgb(68,58,52);
  background: linear-gradient(180deg, rgba(68,58,52,1) 0%, rgba(0,0,0,1) 100%);
  height: 100dvh;
}