# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# dependencies
/env
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/frontend.yarn/install-state.gz

# testing
/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/